/* styles.css */
header.bg-white.text-dark {
    background-color: white;
    color: black;
}

.navbar-dark .navbar-brand.text-dark {
    color: black;
}

.navbar-dark .nav-link.text-dark {
    color: black;
}

.navbar-brand .logo-img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.navbar-brand .ml-2 {
    margin-left: 10px;
}