/* styles.css */
header.bg-white.text-dark {
    background-color: white;
    color: black;
}

nav ul li {
    padding-right: 20px; /* 每项右侧增加20px的内边距 */
}

.navbar-dark .navbar-brand.text-dark {
    color: black;
}

.navbar-dark .nav-link.text-dark {
    color: black;
}

.navbar-brand .logo-img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.navbar-brand .ml-2 {
    margin-left: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.education-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.intro-font {
    font-size: larger;
    font-family: Serif;
    line-height: 150%;
}

.navbar-nav .nav-item {
    margin-right: 30px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; /* Ensures the last item has no extra margin */
}

h2.center {
    text-align: center;
}

h3.center {
    margin-top: 5%;
    text-align: center;
}
.responsive-img {
    max-width: 100%;
    height: auto;
    width: 550px; /* Adjust as needed */
    display: block;
    margin: auto;
}

.area-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.title-underline{
    color: inherit;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    text-decoration-color: rgb(231, 5, 5);
    transition: text-decoration-color 300ms;
    text-underline-offset: 0.4em; /* Adjust the value as needed */
}

.grayline{
    width: 80%;
    margin-top: 7%;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.icon {
    text-align: center;
    margin: 10px;
}
.icon svg,
.icon img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}
.icon a {
    text-decoration: none;
    color: inherit;
}

.sliding-underline-nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block; /* 确保元素是行内块级 */
}

.sliding-underline-nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #f00;
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease-in-out;
}

.sliding-underline-nav a:hover::before {
    width: 100%;
    left: 0;
}


:root {
    --font-family-primary: "Vollkorn", serif;
    --font-family-secondary: "PT Sans", sans-serif;
    --font-size-title: 32px;
    --line-height-title: 1.4;
    --font-size-caption: 14px;
    --line-height-caption: 1.2;
    --color-text: #222022;
    --color-highlight-primary: #FFEF7E;
    --color-highlight-secondary: #B7F9E9;
    --border-radius-primary: 25px;
    
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.title{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}


@media (min-width: 576px) {
    :root {
        --font-size-title: 40px;
        --border-radius-primary: 25px;
    }
}


.blog-container {
    margin-top: 0;
    display: grid;
    place-items: center; /* 水平和垂直居中 */
    border-radius: var(--border-radius-primary); /* 确保图片的圆角与卡片一致 */
    
}
.card {
    max-width: 960px;
    box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 28px 20px;
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 1s box-shadow;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    border-radius: var(--border-radius-primary); /* 确保图片的圆角与卡片一致 */
}

.card:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
    border-radius: var(--border-radius-primary);
}

.card:hover::before, .card:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%; /* 确保伪元素与父元素相同宽度 */
    height: 100%; /* 确保伪元素与父元素相同高度 */
    background: #FDA8CF;
    border-radius: var(--border-radius-primary);
    z-index: -1;
    animation: 1s clockwise infinite;
}

.card:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
    border-radius: var(--border-radius-primary); /* 确保图片的圆角与卡片一致 */
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0;
        left: 5px;    
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0;    
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0;    
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }
    12% {
        top: -2px;
        right: 2px;
    }
    25% {
        top: 0;
        right: 5px;    
    }
    37% {
        top: 2px;
        right: 2px;
    }
    50% {
        top: 5px;
        right: 0;    
    }
    62% {
        top: 2px;
        right: -2px;
    }
    75% {
        top: 0;
        right: -5px;
    }
    87% {
        top: -2px;
        right: -2px;
    }
    100% {
        top: -5px;
        right: 0;    
    }
}

@media (min-width: 576px) {
    .card {
        flex-direction: row;
        align-items: center;
        margin: 40px;
        padding: 32px;
        border-radius: var(--border-radius-primary);
    }
}

.card__image {
    width: 100%;
    max-height: 300px;
    border-radius: var(--border-radius-primary);
    -o-object-fit: cover;
        object-fit: cover;
    margin-bottom: 18px;
}

@media (min-width: 576px) {
    .card__image {
        width: 45%;
        max-height: none;
        min-height: 400px;
        margin-bottom: 0;
    }
}

@media (min-width: 576px) {
    .card__content {
        width: 55%;
        padding-left: 40px;
    }
}

.card__date {
    display: block;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 6px;
    border-radius: var(--border-radius-primary); /* 确保图片的圆角与卡片一致 */
}
@media (min-width: 576px) {

    .card__date {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.card__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    color: var(--color-text);
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary));
    background-size: 100% 42%;
    background-repeat: no-repeat;
    background-position: 0 85%;
    padding: 0 4px;
    margin-left: -4px;
}