/* styles.css */
header.bg-white.text-dark {
    background-color: white;
    color: black;
}

nav ul li {
    padding-right: 20px; /* 每项右侧增加20px的内边距 */
}

.navbar-dark .navbar-brand.text-dark {
    color: black;
}

.navbar-dark .nav-link.text-dark {
    color: black;
}

.navbar-brand .logo-img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.navbar-brand .ml-2 {
    margin-left: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.education-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}


.intro-font {
    font-size: larger;
    font-family: Serif;
    line-height: 150%;
}

.navbar-nav .nav-item {
    margin-right: 30px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; /* Ensures the last item has no extra margin */
}

h2.center {
    text-align: center;
}

h3.center {
    margin-top: 5%;
    text-align: center;
}
.responsive-img {
    max-width: 100%;
    height: auto;
    width: 550px; /* Adjust as needed */
    display: block;
    margin: auto;
}

.area-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.title-underline{
    color: inherit;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    text-decoration-color: rgb(231, 5, 5);
    transition: text-decoration-color 300ms;
    text-underline-offset: 0.4em; /* Adjust the value as needed */
}

.grayline{
    width: 80%;
    margin-top: 7%;
}


.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.icon {
    text-align: center;
    margin: 10px;
}
.icon svg,
.icon img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}
.icon a {
    text-decoration: none;
    color: inherit;
}